/* Best practice */
h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    /* expand body to fit the full webpage */
    min-height: 100vh;
    width: 100%;

    background-color: #A4C8E1;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 25px;
    text-align: center;
    
    font-size: 29px;
}

button {
    font-size: 16px;
    font-weight: bold;
}

#textBox p {
    font-size: 17px;
}

#scoreBox p {
    font-size: 14px;
    font-weight: bold;
}

#gameBox {
    padding: 25px 20px;

    background-color: #e5e5ef;
    border-radius: 8px;
    box-shadow: 0px 10px 20px 0px;
}

#buttonsBox {
    margin-bottom: 10px; /* might need adjust */

    display: flex;
    justify-content: space-between;
}

#rockButton {
    border: 0;
    color: white;
    background-color: #969696;
    padding: 10px 14px 8px 14px;
    border-radius: 7px;
    border-bottom: 4px solid #787878;

    cursor: pointer;
}

#paperButton {
    border: 0;
    color: #333;
    background-color:#fcfafa;
    padding: 10px 14px 8px 14px;
    border-radius: 7px;
    border-bottom: 4px solid #cfcece;

    cursor: pointer;
}

#scissorButton {
    border: 0;
    color: white;
    background-color: #3498DB;
    padding: 10px 14px 8px 14px;
    border-radius: 7px;
    border-bottom: 4px solid #2879ae;

    cursor: pointer;
}

#textBox {
    background-color: #EAECEE;
    margin-bottom: 10px;
    
    text-align: center;
    padding: 14px 65px;
    border: 1px solid #cecece;
    border-radius: 6px;
}

#scoreBox {
    background-color: #EAECEE;
    padding: 8px 6px;
    margin-bottom: 10px;
    border: 1px solid #cecece;
    border-radius: 6px;

    display: flex;
    justify-content: space-between;
}

#resultBox {
    background-color: #f9f9f9;
    border: 1px solid #cecece;
    border-radius: 6px;

    height: 80px;
}




