/* Best practice */
h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    /* expand body to fit the full webpage */
    min-height: 100vh;
    width: 100%;

    background-color: #A4C8E1;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 25px;
    text-align: center;
    
    font-size: 29px;
}

button {
    font-size: 16px;
    font-weight: bold;
}

#textBox p {
    font-size: 17px;
}

#scoreBox p {
    font-size: 14px;
    font-weight: bold;
}

#gameBox {
    padding: 25px 20px;

    background-color: #e5e5ef;
    border-radius: 8px;
    box-shadow: 0px 10px 20px 0px;
}

#buttonsBox {
    margin-bottom: 10px; /* might need adjust */

    display: flex;
    justify-content: space-between;
}

#rockButton {
    border: 0;
    color: white;
    background-color: #969696;
    padding: 10px 14px 8px 14px;
    border-radius: 7px;
    border-bottom: 4px solid #787878;

    cursor: pointer;
}

/* effect for rock button */
#rockButton:hover {
    background-color: #a8a6a6;
    border-bottom-width: 3px;
}

#rockButton:active {
    /* color same as hover */
    border-bottom-width: 1px;
}

#paperButton {
    border: 0;
    color: #333;
    background-color:#fcfafa;
    padding: 10px 14px 8px 14px;
    border-radius: 7px;
    border-bottom: 4px solid #cfcece;

    cursor: pointer;
}

/* effect for paper button */
#paperButton:hover {
    background-color: rgb(255, 255, 255);
    border-bottom-width: 3px;
}

#paperButton:active {
    /* color same as hover */
    border-bottom-width: 1px;
}

#scissorButton {
    border: 0;
    color: white;
    background-color: #3498DB;
    padding: 10px 14px 8px 14px;
    border-radius: 7px;
    border-bottom: 4px solid #2879ae;

    cursor: pointer;
}

/* effect for scissors button */
#scissorButton:hover {
    background-color: #3292d2;
    border-bottom-width: 3px;
}

#scissorButton:active {
    /* color same as hover */
    border-bottom-width: 1px;
}

#textBox {
    background-color: #EAECEE;
    margin-bottom: 10px;
    
    text-align: center;
    padding: 14px 65px;
    border: 1px solid #cecece;
    border-radius: 6px;
}

#scoreBox {
    background-color: #EAECEE;
    padding: 8px 6px;
    margin-bottom: 10px;
    border: 1px solid #cecece;
    border-radius: 6px;

    display: flex;
    justify-content: space-between;
}

#resultBox {
    background-color: #f9f9f9;
    border: 1px solid #cecece;
    border-radius: 6px;
    padding: 5px 10px;
    margin-bottom: 10px;

    height: 70px;
    overflow: auto; /*helps user to scroll down to see all messages*/
}

#resultBox p {
    font-size: 15px;
}

#restartButton {
    background-color: #E67E22;
    color: white;
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    font-size: 16px;

    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;

    border: none;
    border-bottom: 5px solid rgba(0,0,0,0.2);
}

/* adding effects to restart button */
#restartButton:hover {
    background-color: #D35400;
    margin-top: 2px;
    border-bottom-width: 3px;
}

/* this is when we click the button */
#restartButton:active {
    margin-top: 4px;
    border-bottom-width: 1px;
}



